version: "3.4"

services:
  topicly_server:
    image: ${DOCKER_REGISTRY-}topicly_server
    depends_on:
      - db
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:80" # aplikacja dostępna na porcie 5000
      # - "5001:443" # https chwilowo zablokowane
    environment:
      # dbConfig ustalony na `docker_compose` wymusza użycie connection stringa dostosowanego pod docker-compose
      DB_CONFIG: "docker_compose"

      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:80" # https://+:443;

  db:
    image: "mcr.microsoft.com/mssql/server:2017-latest"
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "My_password123"
      ACCEPT_EULA: "Y"